---
- name: Install Prometheus
  become: yes
  shell: |
    useradd --no-create-home --shell /bin/false prometheus || true
    mkdir -p /etc/prometheus /var/lib/prometheus
    cd /tmp && curl -s -L -O https://github.com/prometheus/prometheus/releases/download/v2.55.0/prometheus-2.55.0.linux-amd64.tar.gz
    tar -xvf prometheus-2.55.0.linux-amd64.tar.gz
    cp prometheus-2.55.0.linux-amd64/prometheus prometheus-2.55.0.linux-amd64/promtool /usr/local/bin/
    cp -r prometheus-2.55.0.linux-amd64/consoles /etc/prometheus/
    cp -r prometheus-2.55.0.linux-amd64/console_libraries /etc/prometheus/

- name: Configure Prometheus
  copy:
    dest: /etc/prometheus/prometheus.yml
    content: |
      global:
        scrape_interval: 10s
      scrape_configs:
        - job_name: 'postfix_exporter'
          static_configs:
            - targets: ['18.142.90.85:9154']

- name: Create systemd service
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/prometheus \
        --config.file=/etc/prometheus/prometheus.yml \
        --storage.tsdb.path=/var/lib/prometheus
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: Enable and start Prometheus
  shell: |
    systemctl daemon-reload
    systemctl enable prometheus
    systemctl restart prometheus
